.element_header {
	background: lightgreen;
}

.set_title,
.set_type {
	color: white;
	cursor: pointer;
}

.element_header,
.part_header {
    border-radius: 5px;
    padding: 5px;
}

.element_header_container,
.part_form {
    border: 1px #b3b3ac solid;
    border-radius: 5px;
    margin: 5px 5px;
    font-family: sans-serif;
    font-weight: bold;
}

.part_header {
	background: lightsteelblue;
}

.element_header::after,
.part_header::after,
.input_body::after {
    content: "";
    display: table;
    clear: both;
}

.part_position {
    background: mediumseagreen;
}

.set_title,
.set_type,
.part_position,
.part_name,
.part_format,
.part_language {
    background: cornflowerblue;
    float: left; 
    border-radius: 10px;
    padding: 0 5px;
	text-decoration: none;
}

.input_body {
	text-align: center;
}

.input_body textarea {
	overflow: hidden;
	resize: vertical;
	font-size: 2em;
	width: 98%;
}

.abstract_button,
.comment_button {
    background: salmon;
    float: right;
    text-align: center;
    border-radius: 10px;
    padding: 0 5px;
    cursor: pointer;
}

.abstract_button::after,
.comment_button::after {
	content: "▼";
}

#save_button {
	border-radius: 20px;
	background-color: green;
	color: white;
	font-weight: bold;
	text-align: center;
	padding: 5px;
	cursor: pointer;
}

#save_button:hover {
	background-color: pink;
}

.hidden {
	display: none;
}