#header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: #3498DB;
	z-index: 99;
}

#header::after {
	content: "";
	display: table;
	clear: both;
}

.menu_button {
	float: left;
	background-color: white;
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px;
	margin: 5px;
}

.menu_button:hover {
	background-color: pink;
}

.menu_button a {
	color: blue;
	text-decoration: none;
}

#anti_header {
	padding-bottom: 40px;
}

.warning,
.errorlist {
	color: red;
	font-weight: bold;
}

.big_button a {
	border-radius: 5px;
	border: 1px solid gray;
	padding: 5px;
	text-decoration: none;
	cursor: pointer;
	color: blue;	
}

.big_button a:hover {
	background-color: pink;
}

.hidden {
	display: none;
}